<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/about.css">
    <title>About</title>
</head>

<body>
    <main class="container">
        <section>
            {{>header}}
            <p>
                The main objective of our site is to introduce the latest fresh news to the users and provide them a
                friendly interface without any complexity. The news we introduce here is from trusted resources we don't
                get any single piece of information unless we are confident that it's true in the first place and until
                we do our queries about this information so you can feel confident to take the news you are interested in
                from us. The trust and confidence is not all that we care about we also are known of our ability to
                preview the live news and events faster than any other website or any other resource of information and
                don't feel worried about accuracy we realy care about our reputation so you can feel so confident to
                take you information from here.
            </p>

            <br>

            <p>
                Now let's talk aobut the structure of our site, our site is very simple it consists of four main
                sections or pages:
            </p>

            <br>

            <p class="pages">
                1-The first page is the home page that you can access directly using our site domain name or the IP
                address and from the home page you can go to the three remaining pages of the website.
            </p>

            <br>

            <p class="pages">
				2-The second page is the About page that describes how our site works.
            </p>

            <br>

            <p class="pages">
                3-The third page is the News page that carries the latest news which is the main content of the website
                these news are viewed as cards, to find the news you want you should entere some parameters that describes 
				types of the news you want.   There are two main types of searching the first one is for viewing the detailed 
				data and the search is performed by these categories {title, description, language}, the second type is searching 
				by these categories {category, Keywords/phrase, country} to get top-headlines of the news.
            </p>

            <br>

            <p class="pages">
                4-The fourth page is Egypt News page which contains the top-headlines of the news of Egypt.
            </p>
        </section>
    </main>
</body>

</html>